@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

body {
  background-image: url("./assets/img/bg-main.png");
  font-family: "Manrope", sans-serif;
}

.DropdownCustom button {
  width: 100%;
}

@media screen and (max-height: 851px) {
  .Deposite {
    height: unset;
    padding: 3rem 0rem;
    flex-direction: column;
  }

  .Deposite .skipbutton {
    position: static;
    margin-top: 2rem;
  }
}
